absl-py
appdirs
astor
atomicwrites
attrs
black
certifi
chardet
Click
codecov
coverage
cycler
dataclasses
Django
django-taggit
djangorestframework
djongo
Faker
gast
google-pasta
grpcio
h5py
httpie
idna
importlib-metadata
joblib
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
missingno
more-itertools
numpy
packaging
pandas
pluggy
protobuf
py
Pygments
pymongo
pyparsing
pytest
pytest-cov
pytest-django
python-dateutil
pytz
PyYAML
requests
scikit-learn
scipy
seaborn
six
sqlparse
tensorboard
tensorflow
tensorflow-estimator
termcolor
text-unidecode
toml
urllib3
wcwidth
Werkzeug
wrapt
zipp
